.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(245, 245, 245, 0.3);
    background-image: url('../../imgs/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .login-form {
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  .heading {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .inputt {
    width: 93%;
    padding: 10px;
    border: 1px solid #5b2924;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: transparent;
    margin-top: 10px;
  }
  
  .buttonn {
    width: 100%;
    padding: 10px;
    background-color: #5b2924; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttonn:hover {
    background-color: #031f07; 
    color: white;
  }
  